## <b>Python Collections – Practice Set</b>
This set is based on the topics we’ve covered so far:

- Introduction to Lists
- List Methods
- Tuples and Operations on Tuples
- Sets and Set Methods
- Dictionaries and Dictionary Methods<br>

These exercises will give you hands-on practice with Python’s most important data structures.

### <b>1. Introduction to Lists</b>
1. Create a list `fruits = ["apple", "banana", "cherry"]`.

   - Print the first fruit.
   - Replace `"banana"` with `"orange"`.
   - Print the length of the list.
  
2. Create a list of numbers from `1` to `10`.
   - Print the first three numbers using slicing.
   - Print the last three numbers using slicing.

In [3]:
#1.
fruits = ["apple", "banana", "cherry"]
print(fruits)
fruits[1] = "orange"
print(fruits)
print(len(fruits))

#2.
num = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10]
print("First 3 number: ",num[:3])
print("Last 3 number: ",num[-3::])

['apple', 'banana', 'cherry']
['apple', 'orange', 'cherry']
3
First 3 number:  [1, 2, 3]
Last 3 number:  [8, 9, 10]

### <b>2. List Methods</b>
1. Start with `numbers = [5, 2, 9, 1, 7]` and do the following:
   - Sort the list in ascending order.
   - Append the number `10` to the list.
   - Remove the number `2` from the list.

2. Create a list `names = ["Alice", "Bob", "Charlie"]` and use the `insert()` method to add `"David"` at index `1`.

In [9]:
#1.
numbers = [5, 2, 9, 1, 7]
print("Before Sorting: ",numbers)
numbers.sort()
print("After Sorting: ",numbers)
print("Before Appending: ",numbers)
numbers.append(10)
print("After Appending: ",numbers)
print("Before Removing: ",numbers)
numbers.remove(2)
print("After Removing: ",numbers)

#2.
names = ["Alice", "Bob", "Charlie"]
print("Before inserting: ",names)
names.insert(1 , "David")
print("After inserting: ",names)

Before Sorting:  [5, 2, 9, 1, 7]
After Sorting:  [1, 2, 5, 7, 9]
Before Appending:  [1, 2, 5, 7, 9]
After Appending:  [1, 2, 5, 7, 9, 10]
Before Removing:  [1, 2, 5, 7, 9, 10]
After Removing:  [1, 5, 7, 9, 10]
Before inserting:  ['Alice', 'Bob', 'Charlie']
After inserting:  ['Alice', 'David', 'Bob', 'Charlie']

### <b>3. Tuples and Operations on Tuples</b>
1. Create a tuple `coordinates = (10, 20)` and print both elements.
2. Try to modify the tuple by setting `coordinates[0] = 50` — note what happens.
3. Convert the tuple to a list, change its first element to `50`, and convert it back to a tuple.

In [11]:
#1. 
coordinates = (10, 20)
print(coordinates)

#2. 
coordinates[0] = 50  # Cannot change because tuples are immutable

#3. 
my_tuple = (10 ,30 ,80)
temp_list = list(my_tuple)
temp_list[0] = 50
my_tuple = tuple(temp_list)
print(my_tuple)

(10, 20)
(50, 30, 80)

### <b> 4. Sets and Set Methods</b>
1. Create a set `my_set = {1, 2, 3, 3, 4}` and print it. (What happens to duplicate` 3`?)
2. Add `5` to the set, remove `2`, and check if `4` is in the set.
3.Create two sets:
- `a = {1, 2, 3}`
- `b = {3, 4, 5}`<br>
Find their:
  - Union
  - Intersection
   - Difference (`a - b`)

In [19]:
# 1.
#my_set = {1, 2, 3, 3, 4}   #Throws an error sets are unique.

#2.
my_set = {12, 47, 5, 89, 23, 56, 14, 72 , 2 , 4}
print("before adding: ",my_set)
my_set.add(5)
print("After adding: ",my_set)
print("*----------------------------------------------------------------*")
print("Before removing 2 from the set: ",my_set)
my_set.discard(2)
print("After removing 2 from the set: ",my_set)
print("*----------------------------------------------------------------*")
if 4 in my_set:
    print("4 found in set.")
else:
    print("4 not found in the set.")

print("*----------------------------------------------------------------*")
#3.
a = {1, 2, 3}
b = {3, 4, 5}
print("Union: ",a.union(b))
print("Intersection: ", a.intersection(b))
print("Differnce: ",a-b)

before adding:  {2, 4, 5, 72, 12, 14, 47, 23, 56, 89}
After adding:  {2, 4, 5, 72, 12, 14, 47, 23, 56, 89}
*----------------------------------------------------------------*
Before removing 2 from the set:  {2, 4, 5, 72, 12, 14, 47, 23, 56, 89}
After removing 2 from the set:  {4, 5, 72, 12, 14, 47, 23, 56, 89}
*----------------------------------------------------------------*
4 found in set.
*----------------------------------------------------------------*
Union:  {1, 2, 3, 4, 5}
Intersection:  {3}
Differnce:  {1, 2}

### <b>5. Dictionaries and Dictionary Methods</b>
1. Create a dictionary `student = {"name": "John", "age": 20, "grade": "A"}` and:
   - Print the value of `"name"`.
   - Change `"grade"` to `"A+"`.
   - Add a new key `"city"` with value `"Delhi"`.

2. Create a dictionary of three friends and their phone numbers. Use:
   - `keys()` to get all names
   - `values()` to get all numbers
   - `items()` to loop over key-value pairs and print them

In [29]:
#1.
student = {"name": "John", "age": 20, "grade": "A"}
print(student['name'])
student['grade'] = "A+"
student['city'] = "Delhi"
print(student)
print("*----------------------------------------------------------------*")

#2.
frd_dict = {
    "Himani" : 4356789 , 
    "Sakshi" : 79876212, 
    "Mama" : 28137937
}
print("Keys: ",frd_dict.keys())
print("Values: ",frd_dict.values())
print("Items: ",frd_dict.items())

John
{'name': 'John', 'age': 20, 'grade': 'A+', 'city': 'Delhi'}
*----------------------------------------------------------------*
Keys:  dict_keys(['Himani', 'Sakshi', 'Mama'])
Values:  dict_values([4356789, 79876212, 28137937])
Items:  dict_items([('Himani', 4356789), ('Sakshi', 79876212), ('Mama', 28137937)])

### <b>6. Bonus Challenges</b>
1. Write a program that takes a list of numbers and removes all duplicates using a set.
2. Given a dictionary of products and their prices, find the product with the highest price.
3. Write a program that merges two dictionaries into one.

In [30]:
#1. 
number = [4, 7, 2, 4, 9, 7, 1, 4, 6, 2, 9]
unique_set = list(set(number))
print(unique_set)

[1, 2, 4, 6, 7, 9]

In [34]:
products = {
    "Laptop": 55000,
    "Phone": 35000,
    "Tablet": 25000,
    "Camera": 45000
}

highest_price_product = max(products, key=products.get)
print("Product with highest price:", highest_price_product)
print("Price:", products[highest_price_product])

Product with highest price: Laptop
Price: 55000

In [35]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = dict1 | dict2   # Python 3.9+
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}