## Python Basics- Practice Set
### <b>Q1: Your First Program</b>
Write a program that prints:<br>
`Hello, World! Welcome to Python.`

In [1]:
print("World! Welcome to Python")

World! Welcome to Python

### <b>Q2: Print a Poem</b>
Write a program that prints the following poem using a single `print()` statement:

Twinkle, twinkle, little star,<br>
How I wonder what you are!

In [13]:
print('''Twinkle, twinkle, little star\n How I wonder what you are!''')

Twinkle, twinkle, little star
 How I wonder what you are!

### <b>Q3: Variables & Data Types</b>
Create variables to store:

- Your name (string)
- Your age (integer)
- Your height in meters (float)
- A boolean value representing whether you are a student
Print all of them in one line.

In [15]:
name = "Himani"
age = 19
height = 5.8
boolean = True
print(f"My name is {name} , my age is {age} ,my height is {height} and I'm I a student = {boolean}.")

My name is Himani , my age is 19 ,my height is 5.8 and I'm I a student = True.

### Q4: Typecasting Practice
You are given a string:
```python
num = "45"
```
1. Convert it into an integer
2. Add 10 to it
3. Print the result

In [19]:
num = "45"
int_num = int(num)
print(type(int_num))
int_num+=10
print(int_num)

<class 'int'>
55

### <b>Q5: Taking User Input</b>
Write a program that:

1. Asks the user for their favorite food.
2. Prints:
```python
Wow! I also like <food>.
```

In [20]:
food = str(input("Enter your favourite food: "))
print(f"Wow! I also like {food}")

Enter your favourite food:  Puranpoli

Wow! I also like Puranpoli

### <b>Q6: Simple Calculator</b>
Write a program that:

1. Takes two numbers as input from the user.

2. Prints their:

- Sum
- Difference
- Product
- Quotient

In [22]:
num1 = 28
num2 = 27
print("Sum: ",num1+num2)
print("Differnce: ",num1-num2)
print("Product: ",num1*num2)
print("Quotient: ",num1/num2)

Sum:  55
Differnce:  1
Product:  756
Quotient:  1.037037037037037

### <b>Q7: Escape Sequences</b>
Print the following output using escape sequences:
```python
Hello "Python" World!
This is on a new line.
This is a tab â†’	    after tab.
```

In [25]:
print('''Hello "Python" World!
This is on a new line.
This is a tab \t after tab.''')

Hello "Python" World!
This is on a new line.
This is a tab 	 after tab.

### <b>Q8: Operator Challenge</b>
Write a program that:

1. Takes an integer as input from the user.
2. Prints the square and cube of that number.

In [26]:
num = int(input("Enter a number:"))
print("Square: ",num**2)
print("Cube: ",num**3)

Enter a number: 2

Square:  4
Cube:  8

### Q9: Quick Quiz (True/False)
Mark each as True or False:

1. Python code must always end with a semicolon `;`
2. The `#` symbol is used for comments in Python
3. `"123"` and `123` are the same in Python
4. The `*` operator is used for multiplication
5.` \n `creates a new line
6. Variables in Python can start with numbers
7. `int("10") + 5` gives `15`

1. False
2. True
3. False
4. True
5. False
6. True