## Operators in Python
### Types of Operators
#### 1. Arithmetic Operators:

- `+` (Addition), `-` (Subtraction), `*` (Multiplication), `/` (Division),` %` (Modulus), `**` (Exponentiation), `//` (Floor Division).

In [4]:
a = 11
b = 11
print("Addition:",a+b)
print("Substraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modulus:",a%b)
print("FloorDivison:",a//b)
print("Exponential:",a**2)

Addition: 22
Substraction: 0
Multiplication: 121
Division: 1.0
Modulus: 0
FloorDivison: 1
Exponential: 121

#### 2.Comparison Operators:

- `==` (Equal), `!=` (Not Equal), `>` (Greater Than), `<` (Less Than), `>=` (Greater Than or Equal), `<= `(Less Than or Equal).
- Example:

In [5]:
print(a==b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
False
True
True
False

#### 3. Logical Operators:
- `and`, `or`, `not`.
- Example:

In [6]:
print(True and True)
print(True and False)
print(True or False)
print(not True)
print(not False)

True
False
True
False
True

#### 4. Assignment Operators:
- `=`, `+=`, `-=`, `*=`, `/=`, `%=`, `**=`, `//=`.
- Example:

In [8]:
x=15
print(x)
x+= 5
print(x)
x-= 5
print(x)
x*= 5
print(x)
x/=5
print(x)
x%=5
print(x)
x **=5
print(x)
x//=5
print(x)

15
20
15
75
15.0
0.0
0.0
0.0

#### 5. Membership Operators:
- `in`, `not in`.
- Example:

In [10]:
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)

True

#### 6. Identity Operators:
- `is`, `is not`.
- Example:

In [11]:
x = 10
y = 10
print(x is y)

True

## Summary
- Variables store data, and Python supports multiple data types.
- Typecasting allows you to convert between data types.
- Use `input()` to take user input and `print()` to display output.
- Comments and escape sequences help make your code more readable.
- Python provides a variety of operators for performing operations on data.